<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--目标对象-->
    <bean id="target" class="com.itcast.aop.TargetImpl"></bean>
    <!--切面类-->
    <bean id="aspect" class="com.itcast.aop.Aspect"></bean>

    <!--配置织入-->
    <aop:config >
        <aop:aspect ref="aspect" >
            <aop:after method="advice" pointcut="execution(public void com.itcast.aop.TargetImpl.save())"></aop:after>
        </aop:aspect>
    </aop:config>



</beans>